{% extends 'store/base.html' %}
{% load static %}

{% block title_block %}{{product.name}}{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <div class="img-big-wrap">
            <a href="#"><img src="{{ product.image.url }}" style="width:450px"></a>
        </div>
        <div class="col-md-6">
            <h2>{{product.name}}</h2>
            <p>{{product.model}}</p>
            <p>{{product.processor}}</p>
            <p>{{product.memory}}</p>
            <p>{{product.detail|linebreaks}}</p>
            <p>$ {{product.price}}</p>

        </div>
    </div>
</div>

{% endblock %}